*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.home-container{
    
}
.home .img-parent {
    width: 100%;
    
}
.home .img-parent img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.box-parent{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    background-color: #ddd;
    padding: 20px;
}
.box{
    margin: auto;
    width: 100%;
    margin-top: 10px;
    background-color: white;
}
.box .img-parent{
    width: 100%;
}
.box .img-parent img{
    width: 100%;
}